

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2 class="text-dark">Sign up</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control text-center', placeholder:'example@gmail.com' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control text-center', placeholder:'new password' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control text-center', placeholder:'password confirmation' %>
  </div>

  <div class="actions d-flex flex-row justify-content-center">
    <%= f.submit "Sign up", class:'btn btn-success mr-3' %>
    <%= render "devise/shared/links"%>
    <%= link_to "Back", :back, class:"btn bg-secondary ml-3"%>
  </div>
<% end %>


